$chat-primary-green: #015c4b;
$chat-secondary-green: #1f2c33;
$chat-primary-grey: #2a3942;
$chat-secondary-grey: #aebac1;
$primary-black: #111b21;
$white: #e9edef;
$light-blue: #53bdeb;
$icon-grey: #aebac1;
$darker-icon-grey: #8697a0;
$green: #05a884;
$dark-grey: #232d34;
$darker-white: #d1d7dc;
